

<!--

<div>
    <form method="post" asp-controller="Student" asp-action="CreateStudent" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class=" text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class=" text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UploadImage"></label><br/>
        <input asp-for="UploadImage" accept='*'/>-->
        @*this is for selection between some images u have already on the program(default images)*@

        @*<select asp-for="Image" class="form-control">
            <option  value="alex.jpg">Alex</option>
            <option value="john.jpg">John</option>
            <option value="malina.jpg">Malina</option>
            <option selected value="nilma.jpg">Nilma</option>
        </select>*@

        <!--<span asp-validation-for="UploadImage" class=" text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Profession"></label>
        <select asp-for="Profession" class="form-control" asp-items="Html.GetEnumSelectList<Profession>()">
            <option value="Profession" selected="Profession">Choose a Profession</option>
        </select>-->
        @*<input asp-for="Profession" class="form-control" />*@
        <!--<span asp-validation-for="Profession" class=" text-danger"></span>
    </div>

    <input type="submit" value="Create new Student" class="btn btn-primary"/>

</form>
</div>-->